.pd-l-2 {
  padding-left: 2%; }

h1 {
  font-size: 50px; }

p {
  margin: 0 0 2px; }

h1, h2, h3, h4, h5, h6, small {
  color: black; }

h1 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  line-height: 1; }

.cabecera-roja {
  border-top: 4px solid #AA1801;
  text-align: center;
  position: relative;
  font-size: 24px; }
  .cabecera-roja span {
    display: inline-block;
    padding: 6px 10px;
    line-height: 1;
    background-color: #AA1801;
    color: white;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font: 500 15px "Oswald", "Helvetica", Arial, sans-serif; }

.cabecera-gris {
  border-top: 4px solid #768696;
  text-align: center;
  position: relative;
  font-size: 24px; }
  .cabecera-gris span {
    display: inline-block;
    padding: 6px 10px;
    line-height: 1;
    background-color: #768696;
    color: white;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font: 500 15px "Oswald", "Helvetica", Arial, sans-serif; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 740px; } }
@media (min-width: 960px) {
  .container {
    width: 980px; } }
@media (min-width: 1100px) {
  .container {
    width: 980px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 768px) {
    .container-fluid {
      width: 740px; } }
  @media (min-width: 960px) {
    .container-fluid {
      width: 980px; } }
  @media (min-width: 1100px) {
    .container-fluid {
      width: 980px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.top-header {
  background-color: #F4F5F7;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #D7DCE1; }
  .top-header .socialnav {
    padding-top: 10px; }
    .top-header .socialnav a {
      font-family: 'PT Sans',arial;
      font-weight: bold;
      color: #7D7D7D;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase; }

#home {
  text-align: center; }
  #home .color-red {
    color: #8C0000; }
  #home .color-red2 {
    color: #C00101; }
  #home .color-gris {
    color: #F4F5F7; }
  #home span {
    font-size: 5.6rem;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
  #home h2 {
    font: 500 15px "Oswald", "Helvetica", Arial, sans-serif; }
  #home h4 {
    font-family: "Open Sans", "Helvetica", Arial, sans-serif; }
  #home h5 {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-weight: bold; }
  #home h3 {
    font: bold 37px "PT Sans", "Helvetica", Arial, sans-serif; }
  #home h6 {
    font-family: "PT Sans","Helvetica",Arial,sans-serif;
    font-size: 15px;
    line-height: 130%; }
  #home #portada ul {
    padding: 0 250px; }
    #home #portada ul li {
      color: #9B9FA5;
      float: left;
      margin-left: 48px; }
      #home #portada ul li a {
        font-size: 13px;
        font-weight: bold;
        color: #9B9FA5; }
    #home #portada ul li:first-child {
      list-style: none; }
  #home .img1 {
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../image/img_grid_principal.jpg);
    height: 470px; }
  #home .img2 {
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../image/img_grid_secundario.jpg);
    height: 230px; }
  #home .img3 {
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../image/img_grid_especiales.jpg);
    height: 230px; }
  #home .img4 {
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../image/img_especiales.jpg);
    height: 200px; }
  #home .img5 {
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../image/img_especiales_aside.jpg);
    height: 200px; }
  #home .banneraside {
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(../image/banner-aside-home.jpg);
    height: 720px; }
  #home #columnist {
    margin: 20px 0px; }
    #home #columnist .title, #home #columnist .box-title {
      margin-top: 0px;
      background-color: #8C0000; }
      #home #columnist .title h2, #home #columnist .box-title h2 {
        background-color: #8C0000;
        margin: -10px 300px; }
    #home #columnist .container {
      background-color: #F2F2F2; }
    #home #columnist img {
      width: 100%;
      padding: 5px;
      background-color: white; }
    #home #columnist p {
      font-size: 11px;
      color: #000;
      text-decoration: underline; }
  #home #noticias {
    text-align: left; }
    #home #noticias ul {
      padding: 0px;
      margin-top: 20px; }
      #home #noticias ul li {
        color: #9B9FA5;
        float: left;
        margin-left: 20px; }
        #home #noticias ul li a {
          font-size: 13px;
          font-weight: bold;
          color: #9B9FA5;
          margin-left: 5px; }
      #home #noticias ul li:first-child {
        list-style: none;
        margin-left: 0px; }
      #home #noticias ul .comentario p {
        margin-top: -20px; }
    #home #noticias .asid {
      padding: 10px 0px;
      border-bottom: 1px solid #CDCDCD; }
      #home #noticias .asid p {
        font-size: 12px; }
      #home #noticias .asid h3 {
        font-size: 28px; }
      #home #noticias .asid .col-md-6 img {
        width: 100%; }
  #home .portada {
    padding: 0px 0px 10px 0px; }
  #home #port h3 {
    position: absolute;
    bottom: -2px;
    left: 14px;
    text-align: left; }
  #home .noticiasvariado {
    border: 1px solid #CDCDCD;
    padding: 15px 0px 0px 0px;
    margin-bottom: 30px; }
    #home .noticiasvariado .shadow {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      min-height: 70%;
      background: linear-gradient(to bottom, transparent 0%, #1F1F1F 99%); }
    #home .noticiasvariado .subt {
      font-size: 14px; }
  #home .img4 h4, #home .img5 h4 {
    position: absolute;
    bottom: -2px;
    left: 14px;
    text-align: left;
    font-weight: bold;
    padding: -1px 10px 10px;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.06em;
    text-shadow: 1px 2px 0 #000; }
  #home .img4 .color-red2, #home .img5 .color-red2 {
    left: 41px;
    top: -27px;
    position: absolute; }
  #home .img4 .subt, #home .img5 .subt {
    color: black;
    position: absolute;
    bottom: -49px;
    font-size: 14px; }
  #home .suscribete {
    background-image: url(../image/archive-sidebar-bg.jpg);
    text-align: center;
    padding: 18px 12px; }
    #home .suscribete img {
      position: absolute;
      left: 150px; }
    #home .suscribete .formwhite {
      padding: 50px 40px 20px 40px;
      background-color: white;
      margin-bottom: 10px; }
      #home .suscribete .formwhite input {
        border-radius: 4px;
        border: 1px solid #CDCDCD;
        background-color: #F4F5F7;
        width: 100%;
        margin-bottom: 15px; }
      #home .suscribete .formwhite .form input {
        width: 10%; }
    #home .suscribete #reporte {
      padding: 50px 40px; }
  #home .suscribir {
    background-color: #C00101;
    padding: 5px 60px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px; }
  #home .logo {
    padding: 0px 10px 20px 0px; }
  #home .aweita {
    color: #5E5F61;
    padding: 30px 10px 0px 10px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #CDCDCD; }
    #home .aweita a {
      color: #80307D; }
    #home .aweita .aweitanoticeimg {
      float: left; }
      #home .aweita .aweitanoticeimg img {
        width: 100%; }
    #home .aweita .aweitanotice {
      padding: 10px;
      text-align: left; }
    #home .aweita img:hover {
      background-color: #CDCDCD;
      padding: 5px; }
    #home .aweita .linkaweita {
      margin: 0px 85px;
      height: 7px;
      background-color: #80307D; }
  #home .title, #home .box-title {
    margin: 40px 0px;
    text-align: center;
    height: 6px;
    background-color: #748595; }
  #home .box-title {
    color: white;
    padding: 0px 105px; }
    #home .box-title h2 {
      background-color: #748595;
      position: absolute;
      font-size: 16px;
      padding: 6px 10px;
      margin-top: -10px; }
  #home .fotos img {
    border: 1px solid #748595;
    width: 100%;
    margin-bottom: 20px; }
  #home .fotosdeport {
    padding: 37px 0px;
    border-bottom: 1px solid #CDCDCD;
    font-size: 14px; }
    #home .fotosdeport img {
      padding: 6px;
      float: left; }
    #home .fotosdeport .asas {
      padding: 0px 50px 0px 0px; }
      #home .fotosdeport .asas strong {
        color: #38424B; }
    #home .fotosdeport :hover img {
      padding: 0px;
      border: 3px solid #748595; }
  #home .especiales {
    border-bottom: 1px solid #CDCDCD;
    text-align: center; }
    #home .especiales img {
      width: 100%;
      margin-bottom: 15px; }
    #home .especiales p {
      width: 90%;
      margin-left: 9px;
      text-align: center;
      position: absolute;
      margin-top: -70px;
      padding: 10px;
      background-color: white;
      opacity: 0.8;
      color: black;
      font-weight: bold; }
    #home .especiales .descripcion p {
      text-align: center; }
  #home .carlincatura {
    text-align: center; }
    #home .carlincatura img {
      padding-bottom: 50px;
      border-bottom: 1px solid #cdcdcd;
      width: 100%; }
    #home .carlincatura .color-red2 {
      margin-top: -20px; }
    #home .carlincatura .title, #home .carlincatura .box-title {
      margin-top: 0px;
      background-color: #8C0000; }
      #home .carlincatura .title h2, #home .carlincatura .box-title h2 {
        background-color: #8C0000; }
  #home .bloguers {
    border-bottom: 1px solid #cdcdcd; }
    #home .bloguers .row {
      padding: 10px 0px; }
    #home .bloguers h4 {
      text-align: center; }
    #home .bloguers a {
      font-size: 11px;
      color: #000;
      text-decoration: underline; }
    #home .bloguers p {
      font-size: 14px;
      font-weight: bold; }
  #home .edicion {
    border-bottom: 1px solid #cdcdcd;
    text-align: center; }
    #home .edicion .row {
      padding: 20px 26px; }
    #home .edicion .col-md-9 {
      text-align: left; }
    #home .edicion .col-md-7 img {
      width: 100%; }
    #home .edicion .title, #home .edicion .box-title {
      margin-top: 0px;
      background-color: #8C0000; }
      #home .edicion .title h2, #home .edicion .box-title h2 {
        background-color: #8C0000; }
  #home #sport {
    margin: 20px 0px;
    border: 1px solid #CDCDCD; }
    #home #sport :hover img {
      padding: 0px;
      border: 3px solid #748595; }
    #home #sport h4 {
      font-size: 13px;
      font-weight: bold; }
  #home .shadow {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    min-height: 70%;
    background: linear-gradient(to bottom, transparent 0%, #202020 89%); }
    #home .shadow h3 {
      text-shadow: 1px 3px 0 #000;
      line-height: 1.1;
      letter-spacing: -0.06em; }
    #home .shadow .fs28 {
      font-size: 30px; }
  #home .publicidad1 {
    background: url(../image/banner-aside-home.jpg) no-repeat center;
    background-size: cover;
    height: 700px; }

.imgre {
  background-image: url(../image/img_sd_reporteroc.jpg);
  height: 200px; }

#titulares {
  margin-bottom: 20px; }
  #titulares .titular-portada {
    text-transform: uppercase;
    text-align: center; }
  #titulares .datos-portada {
    display: inline-block; }
    #titulares .datos-portada .redes {
      display: inline-block; }
  #titulares .noticia-principal {
    background-image: url(../image/img_grid_principal.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: block;
    position: relative;
    padding: 0 15px; }
    #titulares .noticia-principal p {
      font-family: 'Open Sans';
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -1px;
      color: white;
      text-shadow: 2px 2px 1px black;
      position: absolute;
      bottom: 12px; }
  #titulares .noticia-secundaria {
    background-image: url(../image/img_grid_secundario.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 100%;
    display: block;
    position: relative;
    padding: 0 15px;
    margin-bottom: 20px; }
    #titulares .noticia-secundaria p {
      font-family: 'Open Sans';
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -1px;
      color: white;
      text-shadow: 2px 2px 1px black;
      position: absolute;
      bottom: 10px; }

#columnistas {
  font-family: 'Open Sans';
  text-align: center; }
  #columnistas a img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto; }
    #columnistas a img.thumbnail {
      border-color: transparent; }
  #columnistas .columnistas-portada {
    font-size: 11px;
    font-weight: bold; }
  #columnistas .titulo-columna-portada {
    font-size: 14px;
    font-weight: bold; }
  #columnistas .columnista-slider {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F2F2F2; }
    #columnistas .columnista-slider .slider {
      width: 100%;
      height: 250px;
      margin-bottom: 10px; }

#noticiasresaltadas {
  font-family: 'Open Sans'; }
  #noticiasresaltadas .nota-resaltada {
    padding: 10px 0;
    text-align: center;
    border: 1px solid #CDCDCD;
    margin-bottom: 30px; }
  #noticiasresaltadas .tema-resaltada {
    font-size: 18px;
    font-weight: 700;
    color: #C33C2D; }
  #noticiasresaltadas .nota {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, transparent 0%, black 60%);
    height: 180px;
    width: 100%;
    display: block;
    position: relative;
    padding: 0 15px; }
    #noticiasresaltadas .nota.a {
      background-image: url(../image/img_especiales.jpg); }
    #noticiasresaltadas .nota.b {
      background-image: url(../image/img_video_destacado.jpg); }
    #noticiasresaltadas .nota.c {
      background-image: url(../image/un-image--thumb-01.jpg); }
    #noticiasresaltadas .nota.d {
      background-image: url(../image/noticias-relacionadas-image-slider-thumb.jpg); }
    #noticiasresaltadas .nota .titular-resaltada {
      font-family: 'Open Sans';
      font-size: 19px;
      font-weight: 700;
      letter-spacing: -1px;
      color: white;
      text-shadow: 2px 2px 1px black;
      text-align: left;
      z-index: 15; }
    #noticiasresaltadas .nota .sombra {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent 30%, #262626 80%); }
  #noticiasresaltadas .todosobre {
    color: black;
    margin-top: 11px;
    margin-bottom: 5px; }
    #noticiasresaltadas .todosobre span {
      font-weight: 700;
      margin-left: 2px; }

#ultimasnoticias {
  margin-bottom: 25px; }
  #ultimasnoticias h3 {
    color: #768596;
    font-size: 15px;
    font-family: 'Oswald'; }
    #ultimasnoticias h3 img {
      height: 15px;
      margin-left: 6px;
      margin-bottom: 6px; }
  #ultimasnoticias .ultimas {
    margin: 7px auto; }
  #ultimasnoticias .noticiareciente {
    border-bottom: 1px solid #CDCDCD;
    margin-top: 25px;
    margin-right: 22px;
    padding-bottom: 12px; }
    #ultimasnoticias .noticiareciente .img-ultima {
      float: left; }
      #ultimasnoticias .noticiareciente .img-ultima img {
        max-width: 200px;
        height: auto;
        margin-right: 18px;
        margin-bottom: 4px; }
  #ultimasnoticias .contenido p {
    font-family: 'PT Sans';
    margin-top: 10px; }
  #ultimasnoticias .fecha {
    font-family: 'PT Sans';
    font-size: 12px; }
  #ultimasnoticias .tituloultima {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700; }

button.principal {
  background-color: #BA1414;
  border-radius: 4px;
  border-color: transparent;
  color: white;
  padding: 5px 40px 5px 40px;
  text-transform: uppercase;
  font-size: 14px; }

.barra-roja {
  background: -webkit-linear-gradient(left, #b61901, #cc1b01, #b61901);
  width: 100%;
  padding: 1%; }
  .barra-roja button.todos {
    background-color: #811101;
    border-radius: 15px;
    border-color: transparent;
    color: white;
    padding: 5px 14px 5px 14px;
    font-size: 14px;
    font-family: "PT Sans"; }
  .barra-roja button.letra {
    font-family: "PT Sans";
    background-color: transparent;
    border-color: transparent;
    color: white;
    padding: 5px 14px 5px 14px;
    font-size: 14px;
    letter-spacing: 5px;
    margin-left: 5px;
    margin-right: 5px; }
    .barra-roja button.letra:hover {
      background-color: #d90000;
      border-radius: 15px;
      border-color: transparent;
      color: white;
      padding: 5px 14px 5px 14px;
      font-size: 14px;
      font-family: "PT Sans"; }
    .barra-roja button.letra:focus {
      border: transparent !important; }

li.columnistas {
  display: inline-block;
  float: left;
  width: 232px;
  height: 100px;
  padding: 0px 0px 11px 0px;
  margin: 7px 5px 40px 0px; }

ul.sinpadding {
  padding: 0px; }

.caja-columnistas {
  background: #e2e6e9;
  padding: 19px 10px 30px 12px;
  height: 140px; }
  .caja-columnistas img {
    float: left;
    margin-right: 15px;
    border: 2px solid #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7); }
  .caja-columnistas h5 {
    font-family: "Oswald";
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 4px; }
  .caja-columnistas p {
    font-family: "PT Sans";
    color: #667885;
    font-size: 14px;
    font-weight: 600; }
  .caja-columnistas:hover {
    background: white; }

.blog-titulo {
  font-family: "PT Sans";
  font-weight: 600; }

.boxes-blog li {
  display: inline-block;
  float: left;
  margin-right: -5px;
  width: 255px;
  height: 238px;
  border: 2px solid #e2e2e2;
  padding: 40px 10px 11px 10px;
  margin: 15px; }
.boxes-blog small {
  text-align: center;
  display: block;
  font-weight: 100;
  font-family: "PT Sans";
  font-size: 12px; }

.titulo-noticia {
  font-family: "Oswald";
  font-weight: 300;
  color: #768596;
  font-size: 15px;
  margin-left: 31px; }
  .titulo-noticia i.fa.fa-angle-double-down {
    color: #BA1414;
    font-size: 20px;
    margin-left: 5px; }

.caja-blog {
  background: #e2e6e9;
  padding: 19px 10px 30px 12px;
  height: 110px; }
  .caja-blog img {
    float: left;
    margin-right: 15px;
    border: 2px solid #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7); }
  .caja-blog h5 {
    font-family: "Oswald";
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 4px; }
  .caja-blog p {
    font-family: "PT Sans";
    color: #667885;
    font-size: 15px;
    font-weight: 600; }

.datos-blog h4 {
  font-weight: 600;
  height: 38px; }

#contacto {
  font-family: 'PT Sans'; }
  #contacto .text-contacto {
    padding: 20px 0 10px; }
  #contacto .formulario-cuerpo {
    width: 60%;
    margin: auto; }
    #contacto .formulario-cuerpo .formulario {
      display: block;
      background-color: #EEEEEE;
      border-radius: 4px;
      padding: 7px 8px;
      font-size: 15px;
      margin: 25px auto;
      width: 100%;
      border-bottom: 2px solid #DFDFDF;
      border-right: 1px solid #C1C1C1; }
    #contacto .formulario-cuerpo h3 {
      font-size: 18px;
      font-weight: 700; }
    #contacto .formulario-cuerpo label {
      font-weight: 400; }
      #contacto .formulario-cuerpo label.contacto-label2 {
        float: right; }
      #contacto .formulario-cuerpo label.label-peque {
        font-size: 12px;
        display: block;
        margin-top: -10px;
        margin-bottom: 35px; }
    #contacto .formulario-cuerpo textarea {
      height: 150px;
      display: block;
      font-size: 14px;
      background-color: #EEE;
      border-radius: 4px;
      padding: 5px 8px;
      margin: 30px 0 15px;
      border: 2px inset white;
      outline: transparent;
      border-bottom: 1px solid #DFDFDF;
      border-right: 1px solid #C1C1C1; }
    #contacto .formulario-cuerpo button {
      font-weight: 700;
      display: block;
      color: white;
      background-color: #080808;
      border: none;
      border-radius: 4px;
      margin: 5px auto 20px;
      border: none;
      padding: 7px 70px;
      margin: 10 auto 45px;
      display: block; }
    @media (max-width: 767px) {
      #contacto .formulario-cuerpo {
        width: 90%; } }

@media screen and (min-width: 500px) and (max-width: 667px) {
  ul.sinpadding {
    margin-left: 10%; }

  .boxes-blog li {
    margin-left: 22%; } }
@media screen and (min-width: 400px) and (max-width: 500px) {
  ul.sinpadding {
    margin-left: 20%; } }

/*# sourceMappingURL=main.css.map */
