section
        .container
            +titulo-seccion('Blogs')
            .row
                .col-md-12 
                    .boxes-blog
                        h3.titulo-noticia LO ÚLTIMO EN BLOG
                            i.fa.fa-angle-double-down
                        ul
                            +blog('blog')

                            +cambio('El gol de la muerte', 'blog_avatar_01', 'Y tú... ¿Ya hiciste click?')
                            +cambio('Dios ha muerto... tengo las manos cubiertas de sangre', 'blog_avatar_02', 'Educando con Amor Firme')
                            +cambio('¿Cuál es tu queso favorito?', 'blog_avatar_03', 'Moda Ente Tendete')

                            +blog('blog')
                            +blog('blog')
                            +blog('blog')
                            +blog('blog')
                            +blog('blog')

  