section
        .container
            +titulo-seccion('Columnistas')
            .row
                .col-md-12 
                    .boxes-blog
                        h3.titulo-noticia LO ÚLTIMO EN COLUMNISTAS
                            i.fa.fa-angle-double-down
                        ul
                            +columnistas('columnistas')
                            +columnistas('columnistas')
    section
        .container
            .text-center
                button.principal todas las columnas
            .row
                .col-md-12
                    .boxes-blog
                        h3.titulo-noticia TODOS LOS COLUMNISTAS
                            i.fa.fa-angle-double-down

                    .barra-roja.text-center
                        button.todos TODOS
                        button.letra ABC
                        button.letra DEF
                        button.letra GHI
                        button.letra JKL
                        button.letra MNO
                        button.letra PQRS
                        button.letra TUV
                        button.letra WXYZ
                    ul.sinpadding
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')
                        +escritores('Tiro al blanco','Cristal de Mira','Jaque Perpetuo','Jaque Perpetuo')
                        +escritores('Delito de Opinión','Actualidad Económico - Oscar Dancourt','Mirada externa','Defensa')