section#titulares
            .container
                .row
                    +titular-portada('guerra en la municipalidad de lima metropolitana', 'Hace 12 minutos', 'política')
    
                .row
                    .col-xs-12.col-md-6
                        a(href="#").noticia-principal
                            p JNE inpulsará campaña en favor de la aprobación de la Reforma Electoral
                    .col-xs-12.col-md-6
                        a(href="#").noticia-secundaria
                            p Martín Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/. 3 000 millones | Fotos
                        a(href="#").noticia-secundaria
                            p Sub 20 Perú vs Paraguay: bicolor empató 1-1  y pasó al hexagonal final del Sudamericano | Video
    
        section
            .container
                .row#columnistas
    
                    +cabecera-roja('COLUMNISTAS')
    
                    .columnista-slider
            
                        +columnistas-slider
                        
                        +columnistas-slider
    
                        +columnistas-slider