doctype html
html(lang='es-PE')
	head
		meta(charset='UTF-8')
		title Home
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
		link(rel='stylesheet', type='text/css', href='assets/css/main.css')

	body
		include ../layout/header.jade
		script(src='http://code.jquery.com/jquery-1.11.2.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		script(type='text/javascript', src='js/slick.min.js')
		script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
		script(type='text/javascript', src='js/modernizr.custom.68172.js')
		script(type='text/javascript', src='js/respond.js')
