.hidden-xs.col-md-4
  aside
    .aside-publicity
      img(src='assets/image/banner-aside-home.jpg')
    .boletin
      .box-boletin
        span
          img(src='assets/image/img_sucribe.png')
        h3 Suscríbete a nuestro boletín
        .box-form
          input#boletin(type="boletin")
          label(for="boletin-input")
        button.btn-submit(type='submit') Suscribirse
    .aweita.hidden-xs
        a(href='#')
            img(src='assets/image/logo_aweita.jpg' class='logo')
        +aweita('0')
        +aweita('strong')
        +aweita('0')
        +aweita('strong')
        br
        p Más en 
            a(href='#') Aweita.pe
        .linkaweita
    .fotos
        +titulo('FOTOS DESTACADAS')
        img(src='assets/image/img_fotodes_prominent.jpg')
        h4 Líneas de Nazca: admiten prision preventiva de 6meses para activista de Greenpeace |
            a(href='#') FOTOS
    .fotosdeport
        .asas
            img(src='assets/image/img_fotodes.jpg')
            strong Uchuraccay: El pueblo que recibe con flores a quienes llegan a pie |
                a(href='#') FOTOS
        br    
        .asas
            img(src='assets/image/img_fotodes.jpg')
            strong Alianza Lima vs Fenix: íntimos ganaron 1-0 en "Noche Blanquizaul" |
                a(href='#') VIDEO Y FOTOS
        br
        .asas
            img(src='assets/image/img_fotodes.jpg')
            strong Tomas Berdych derrotó 3-0 a Rafael Nadal y avanzó en el Australian Open |
                a(href='#') FOTOS
    .especiales
        +titulo('ESPECIALES')
        .descripcion
            img(src='assets/image/img_especiales_aside.jpg')
            p Régimen laboral juvenil
        .descripcion
            img(src='assets/image/img_especiales_aside.jpg')
            p COP 20
        .descripcion
            img(src='assets/image/img_especiales_aside.jpg')
            p Concentración de Medios
        .descripcion
            img(src='assets/image/img_especiales_aside.jpg')
            p Especies peruanas en peligro de extinción
    .carlincatura
        +titulo('CARLINCATURA DEL DÍA')
        h4 Carlincaturas 30-01-2015
        img(src='assets/image/img_carlincatura_sd.jpg')
        h4(class='color-red2') Todas las Carlincaturas
    .bloguers
        +titulo('NUESTROS BLOGUEROS')
        +blog('0')
        +blog('1')
        +blog('p')
        +blog('0')
        +blog('1')
        +blog('p')
        +blog('0')
        +blog('1')
        h4(class='color-red2') Todos los blogs
    .edicion
        +titulo('EDICIÓN IMPRESA')
        h4 La República-Lima
        img(src='assets/image/img_impreso_sd_prominent.jpg')
        +notic('Extorsionan a menores en colegios','La República-Norte' ,src="assets/image/img_impreso_sd.jpg")
        +notic('Lluvias en Arequipa inundan casas y causan caos en las calles','La República-Sur' ,src="assets/image/img_impreso_sd_prominent.jpg")
        +notic('Los Ojos de Oblitas','Domingo' ,src="assets/image/img_submenu_edimpresa.jpg")
    .especiales
        +titulo('INFOGRAFIAS')
        .descripcion
            img(src='assets/image/img_especiales_aside.jpg')
            p Historico cierre de frontera
        .descripcion
            img(src='assets/image/img_especiales_aside.jpg')
            p Evoucion de la pobreza de indigencia en América Latina
    .suscribete
        img(src='assets/image/img_sucribe.png')
        br
        .formwhite
            strong La pregunta de hoy
            p ¿Cree usted que la premier Ana Jara debe renunciar?
            checkbox

            a(href='#' class='suscribir') Votar
            p(class='color-red2') Ver resultados  
        .formwhite
            strong La pregunta de ayer
            p ¿Cree usted que se militarizó la conmemoración del fallo de la Haya?
            checkbox
            p(class='color-red2') Ver preguntas pasadas
    .edicion
        img(src='assets/image/logo_libero.jpg')
        +notic('Fiorentina empató 1-1 en su visita al Genoa con gran actuación de Juan Vargas[VIDEO] ','' ,src="assets/image/img_video_destacado.jpg")
        +notic('Jefferson Farfán: Schalke 04 tampoco sabe cuándo volverá a las canchas[FOTOS]','' ,src="assets/image/img_video_destacado.jpg")
        +notic('Barcelona vs. Villareal:cuales ganaron 3-2 con goles de Lionel Messi y Neymar por Liga BBVA[VIDEO]','' ,src="assets/image/img_video_destacado.jpg")
        +notic('Barcelona vs. Villareal:cuales ganaron 3-2 con goles de Lionel Messi y Neymar por Liga BBVA[VIDEO]','' ,src="assets/image/img_video_destacado.jpg")
        p Más en
            a(href='#' class='color-red2') Libero.pe
        .libero
    .edicion
        img(src='assets/image/logo_popular.jpg')
        +notic('Joshua Ivanoff está loco por olor d Melissa Loza ','' ,src="assets/image/fotogaleria_col01_01.jpg")
        +notic('Corinthias:Paolo Guerrero dedica su gol a Alondra García','' ,src="assets/image/fotogaleria_col01_01.jpg")
        +notic('Angie Arizaga es amenzada de muerte[VIDEO]','' ,src="assets/image/fotogaleria_col01_01.jpg")
        +notic('Philip Seymour Hoffman:Un año sin el premiado actor(VIDEO)','' ,src="assets/image/fotogaleria_col01_01.jpg")
        p Más en
            a(href='#' class='color-red2') elPopular.pe
        .libero
     .edicion
        img(src='assets/image/logo_wapa.jpg')
        +notic('¿Cómo renovar el guardarropa de los mas pequeños en este verano ','' ,src="assets/image/fotogaleria_col01_01.jpg")
        +notic('Shakira y Piqué ¡Ya son padres por segunda vez','' ,src="assets/image/fotogaleria_col01_01.jpg")
        +notic('Ted 2:Mira el trailer de la cinta','' ,src="assets/image/fotogaleria_col01_01.jpg")
        +notic('Como usar zapatos altos sin dolor','' ,src="assets/image/fotogaleria_col01_01.jpg")
        p Más en
            a(href='#' class='color-red2') Wapa.pe
        .libero
    .suscribete
        img(src='assets/image/img_sucribe.png')
        br
            
        .formwhite
            strong Reporte ciudadno
            img(src='assets/image/img_sd_reporteroc.jpg')
            p ¿Está permitido que dejen su auto en reiteras ocasiones toda la noche en la puerta de tu casa? PlacaDG6232, eso que antes lo dejaba entre la vereda y mi puerta          
