footer
      .container
        .row
          .col-md-4
            img(src="assets/image/logo-grupo-la-republica.png")
            h3 Grupo La República Digital
            ul
              li Jr.Camaná 320 Cercado de Lima
              li Teléfono: 711-6000
              li (Central Telefónica)
              li
                small Todos los derechos reservados - 2015
          .col-md-8.contenedor
            .row
              .col-md-2
                li
                  ul
                    a(href="#") Roger Federer
                li
                  ul
                    a(href="#") SBS
                li
                  ul
                    a(href="#") Scarlett Johansson
                li
                  ul
                    a(href="#") Scotiabank
                li
                  ul
                    a(href="#") Selena Gómez
                li
                  ul
                    a(href="#") Spiderman
                li
                  ul
                    a(href="#") Sporting Cristal
                li
                  ul
                    a(href="#") Sunat
                li
                  ul
                    a(href="#") Telefónica del Perú
                li
                  ul
                    a(href="#") The Walking Dead
                li
                  ul
                    a(href="#") Twitter
                li
                  ul
                    a(href="#") Universidad Cesar Vallejo
                li
                  ul
                    a(href="#") Universidad San Martín
                li
                  ul
                    a(href="#") Universidad de Deportes
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") YouTube
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") BBVA
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") BCP
              .col-md-2
                li
                  ul
                    a(href="#") Al fondo hay sitio
                li
                  ul
                    a(href="#") Alejandro Toledo
                li
                  ul
                    a(href="#") Alianza Lima
                li
                  ul
                    a(href="#") Alianza Lima
                li
                  ul
                    a(href="#") Banco de la Nación
                li
                  ul
                    a(href="#") Barack Obama
                li
                  ul
                    a(href="#") Universidad Cesar
                li
                  ul
                    a(href="#") Vallejo
                li
                  ul
                    a(href="#") Universidad San Martín
                li
                  ul
                    a(href="#") Barcelona
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") BBVA
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") BCP
                li
                  ul
                    a(href="#") Batman
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") BBVA
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") BCP
              .col-md-2
                li
                  ul
                    a(href="#") One Direction
                li
                  ul
                    a(href="#") ONPE
                li
                  ul
                    a(href="#") Pablo Escobar
                li
                  ul
                    a(href="#") Paolo Guerrero
                li
                  ul
                    a(href="#") Pensión 65
                li
                  ul
                    a(href="#") PNP
                li
                  ul
                    a(href="#") Precio del dólar
                li
                  ul
                    a(href="#") Universidad Cesar Vallejo
                li
                  ul
                    a(href="#") Universidad San Martín
                li
                  ul
                    a(href="#") Premier League
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") BBVA
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") BCP
                li
                  ul
                    a(href="#") Proyecto Conga
                li
                  ul
                    a(href="#") PUCP
                li
                  ul
                    a(href="#") Real Madrid
                li
                  ul
                    a(href="#") Redes Sociales
                li
                  ul
                    a(href="#") Reniec
                li
                  ul
                    a(href="#") Robert Pattinson
              .col-md-2
                li
                  ul
                    a(href="#") Al fondo hay sitio
                li
                  ul
                    a(href="#") Alejandro Toledo
                li
                  ul
                    a(href="#") Alianza Lima
                li
                  ul
                    a(href="#") Alianza Lima
                li
                  ul
                    a(href="#") Banco de la Nación
                li
                  ul
                    a(href="#") Barack Obama
                li
                  ul
                    a(href="#") Universidad Cesar
                li
                  ul
                    a(href="#") Vallejo
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") BBVA 
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") BCP
                li
                  ul
                    a(href="#") Universidad San Martín
                li
                  ul
                    a(href="#") Barcelona
                li
                  ul
                    a(href="#") Batman
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") Bayern Múnich
                li
                  ul
                    a(href="#") BBVA
                li
                  ul
                    a(href="#") Xbox
                li
                  ul
                    a(href="#") BCP
              hr
        .container
          .bottom-footer
            a.contribution Diarios del PAL:Clarín
            a.contribution La Tercera
            a.contribution El Universal Colombia
            a.contribution El Universal Venezuela
            a.contribution Vanguardia
            a.contribution La Prensa
            a.contribution El Salvador
            a.contribution La Verdad
            a.contribution Diario Libre
            a.contribution El diario de hoy
            a.contribution El Colombiano

