footer
	.row
		.col-xs-12.col-xs-offset-1
			.row
				.col-md-4.contact
					img(src="assets/image/logo-grupo-la-republica.png")
					h3 Grupo La Republica Digital
					p Jr. Camaná 320 Cercado de Lima
					p Relefono: 711-6000
					p (Central Telefónica)

					span Todos los derechos reservados - 2015
				.col-md-8.hidden-xs.enlace
					.row
						.col-sm-2
							a(href="#") Roger Federer
							a(href="#") SBS
							a(href="#") Scarlett Johansson
							a(href="#") Scotiabank
							a(href="#") Selena Gómez
							a(href="#") Spiderman
							a(href="#") Sporting Cristal
							a(href="#") Sunat
							a(href="#") Telefónica del Perú
							a(href="#") The Walking Dead
							a(href="#") Twitter
							a(href="#") Universidad Cesar Vallejo
							a(href="#") Universidad San Martin
							a(href="#") Universitario de Deportes
							a(href="#") Xbox
							a(href="#") Youtube
							a(href="#") Bayern Múnich
							a(href="#") Bayern Múnich
							a(href="#") BBVA
							a(href="#") Xbox
							a(href="#") BCP
						.col-sm-2
							a(href="#") Al fondo hay sitio
							a(href="#") Alejandro Toledo
							a(href="#") Alianza Lima
							a(href="#") Alianza lima
							a(href="#") Banco de la Nación
							a(href="#") Barack Obama
							a(href="#") Universidad Cesar Vallego
							a(href="#") Universidad San Martin
							a(href="#") Barcelona
							a(href="#") Bayern Múnich
							a(href="#") Bayern Múnich
							a(href="#") BBVA
							a(href="#") Xbox
							a(href="#") BCP
							a(href="#") Batman
							a(href="#") Bayern Múnich
							a(href="#") Bayern Múnich
							a(href="#") BBVA
							a(href="#") Xbox
							a(href="#") BCP
						.col-sm-2 
							a(href="#") One Direction
							a(href="#") ONPE
							a(href="#") Pablo Escobar
							a(href="#") Paolo Guerrero
							a(href="#") Pension 65
							a(href="#") PNP
							a(href="#") Precio del dólar
							a(href="#") Universidad Cesar Vallejo 
							a(href="#") Universidad San Martin
							a(href="#") Premier League
							a(href="#") Bayern Múnich
							a(href="#") Bayern Múnich
							a(href="#") BBVA
							a(href="#") Xbox
							a(href="#") BCP
							a(href="#") Proyecto Conga
							a(href="#") PUCP
							a(href="#") Real Madrid
							a(href="#") Redes Sociales
							a(href="#") Reniec
							a(href="#") Robert Pattinson
						.col-sm-2
							a(href="#") Al fondo hay sitio
							a(href="#") Alejandro Toledo
							a(href="#") Alianza Lima
							a(href="#") Alianza lima
							a(href="#") Banco de la Nación
							a(href="#") Barack Obama
							a(href="#") Universidad Cesar Vallego
							a(href="#") Universidad San Martin
							a(href="#") Barcelona
							a(href="#") Bayern Múnich
							a(href="#") Bayern Múnich
							a(href="#") BBVA
							a(href="#") Xbox
							a(href="#") BCP
							a(href="#") Batman
							a(href="#") Bayern Múnich
							a(href="#") Bayern Múnich
							a(href="#") BBVA
							a(href="#") Xbox
							a(href="#") BCP
.col-xs-12.col-xs-offset-1.right.hidden-xs
	p Diario del PAL: 
		a(href="#") | Clarín 
		a(href="#") | La Tercera 
		a(href="#") | El Universal Colombia 
		a(href="#") | El Universal Venezuela 
		a(href="#") | Vanguardia 
		a(href="#") | La Prensa 
		a(href="#") | El Salvador 
		a(href="#") | La verdad 
		a(href="#") | Diario Libre
		a(href="#") | El diario de hoy 
		a(href="#") | El Colombiano