header
    .top-header.bg-gray
        .container.top-publicity
            img.img-responsive.center-block(src="assets/image/banner_top.jpg")
        .container.socialnav
            row
                .col-md-6
                  a(href='#') 
                      |LIBERO.PE
                  a(href='#') 
                      |ELPOPULAR.PE
                  a(href='#') 
                      |FUNDACIÓN GUSTAVO MOHME LLONA
                .col-md-6.text-right
                    button.label-danger
                        |SUCRÍBETE AL BOLETÍN 
                    +social-list
                    input#search(type="search" placeholder="Buscar")
                    label(for="search-input")
                      a.fa.fa-search 
    .bottom-header
      .container
        .row
          .col-md-4
            img.img-rsponsive(src="assets/image/logo-la-republica.jpg")
          .col-md-4
            .box-futbol
              span ESPECIAL DE FÚTBOL
              br
              span TODO SOBRE LA CHAMPIONS LEAGUE
          .col-md-4
            .box-editorial
              span La corrupción, los orígenes
              br
              span por: Gustavo Mohme Llona
              img.img-autor.img-responsive(src="assets/image/img_author.jpg")
        .row
          .col-md-12
            .nav-general-red
              .btn-group.btn-group-justified(role='group', aria-label='Justified button group with nested dropdown')
                a.btn.btn-default(href='#', role='button') POLÍTICA
                a.btn.btn-default(href='#', role='button') ECONOMÍA
                a.btn.btn-default(href='#', role='button') SOCIEDAD
                a.btn.btn-default(href='#', role='button') ELECC. REGIONALES
                a.btn.btn-default(href='#', role='button') DEPORTES
                a.btn.btn-default(href='#', role='button') CHAMPIONS L.
                a.btn.btn-default(href='#', role='button') ESPECTÁCULOS
                a.btn.btn-default(href='#', role='button') ED. EMPRESA
                a.btn.btn-default(href='#', role='button') REGIONALES
                .btn-group(role='group')
                  a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | MÁS SECCIONES 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li
                      a(href='#') Separated link
        .row
          .slick-menu-nav
        .row
          .col-md-12
            img(src='assets/image/banner-header.jpg')


        
