header
		.top-header.center-block
				.container.top-publicity
						img( class="center-block" src="./image/banner_top.jpg")
				.container
						row
								col-md-6
										a 
												|LIBERO.PE
										a
												|ELPOPULAR.PE
										a
												|FUNDACIÓN GUSTAVO MOHME LLONA
								col-md-6
										button
												|SUCRÍBETE AL BOLETÍN 
										.social
														.social-ite
																a(href='')
																		i.fa.fa-facebook
														.social-ite
																a(href='')
																		i.fa.fa-twitter
														.social-ite
																a(href='')
																		i.fa.fa-google-plus
														.social-ite
																a(href='')
																		img(src="./image/sprites/ico-email.png")
														.social-ite
																a(href='')
																		i.fa.fa-rss					
			