
.pd-l-2{
	padding-left:2%;
}

h1{
	font-size:50px;
}

p {
    margin: 0 0 2px;
}

h1,h2,h3,h4,h5,h6,small{
	color:black;
}



   h1{
   	font-size: 5rem;
   	font-weight: 700;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    line-height: 1;
	}

//Cabecera por secciones

.cabecera-roja{
	border-top: 4px solid #AA1801;
	text-align: center;
    position: relative;
    font-size: 24px;
	span{
		display: inline-block;
	    padding: 6px 10px;
	    line-height: 1;
	    background-color: #AA1801;
	    color: white;
	    position: relative;
	    top: -10px;
	    text-transform: uppercase;
	    font: 500 15px "Oswald", "Helvetica", Arial, sans-serif;
	}
	
}

.cabecera-gris{
	border-top: 4px solid #768696;
	text-align: center;
    position: relative;
    font-size: 24px;
	span{
		display: inline-block;
	    padding: 6px 10px;
	    line-height: 1;
	    background-color: #768696;
	    color: white;
	    position: relative;
	    top: -10px;
	    text-transform: uppercase;
	    font: 500 15px "Oswald", "Helvetica", Arial, sans-serif;
	}


}
