#contacto{
	font-family: 'PT Sans';
	.formulario{
		display: block;
		background-color: #EEEEEE;
		border-radius: 4px;
		padding: 4px 8px;
		font-size: 15px;
		margin: 25px auto;
		width: 60%;


	}
	label{
		font-weight: 400;
	}
}